---
import type { CollectionEntry } from "astro:content";
import Layout from "~/layouts/Layout.astro";
import { visiblePosts } from "./utils";

export async function getStaticPaths() {
  return (await visiblePosts()).map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}
interface Props {
  // Optionally use `CollectionEntry` for type safety
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { Content, injectedFrontmatter } = await post.render();
---

<Layout title={post.data.title} description={post.data.byline}>
  <article class="prose prose-invert max-w-full">
    <h1>{post.data.title}</h1>
    <p class="lead -mt-6"><i>{post.data.byline}</i></p>
    <div
      class="-mt-2 flex flex-row space-x-6 border-b border-white/20 pb-4 text-sm"
    >
      <span>{post.data.date}</span>
      <span>{injectedFrontmatter.readingTime}</span>
    </div>

    <Content />
  </article>
</Layout>
