---
import type { CollectionEntry } from "astro:content";
import Layout from "~/layouts/Layout.astro";
import { visiblePosts } from "./utils";

export async function getStaticPaths() {
  return (await visiblePosts()).map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { Content, injectedFrontmatter } = await post.render();
---

<Layout
  title={post.data.title}
  titleOnly
  description={post.data.byline}
  image={`https://og.brendonovich.dev/api/blog?title=${post.data.title}&readTime=${injectedFrontmatter.readingTime}&date=${post.data.date}`}
>
  <article class="prose prose-invert prose-neutral lt-md:text-sm">
    <h1 class="mt-0">{post.data.title}</h1>
    <p class="-mt-2"><i>{post.data.byline}</i></p>
    <div
      class="flex flex-row space-x-6 border-b border-white/20 pb-4 text-sm lt-sm:(-mx-4 px-4)"
    >
      <span>{post.data.date}</span>
      <span>{injectedFrontmatter.readingTime}</span>
    </div>
    <Content />
  </article>
</Layout>
<style is:global>
  .prose {
    max-width: unset;
  }

  .prose pre {
    @apply p-4 border-px border-white/10 leading-5.25 lt-sm:(rounded-none border-x-0 -mx-4);
  }

  .prose code::after {
    all: unset;
  }

  .prose code::before {
    all: unset;
  }

  .prose p code {
    @apply bg-black p-2px border-px rounded-sm border-neutral-800;
  }
</style>
